Question 1  :Consider the following Python module:a = 0def b():global aa = c(a)def c(a):return a + 2After importing the module into the interpreter, you execute:>>> b()>>> b()>>> b()>>> a?What value is displayed when the last expression (a) is evaluated? Explain youranswer by indicating what happens in every executed statement.

In [35]:
a = 0 
def c(a):
    return a + 2 
def b():
    global a  
    a = c(a)  
    a = c(a) 
    return a + 2
result = b()
print(result)

6

Answer  :  When you call b() for the first time, it tries to access the global variable a, which is 0. It then attempts to call the function c(a) with a as an argument. c(0) will return 2.

           When you call b() a second time, it will once again access the global variable a, which is now 2. It calls c(2), and c(2) returns 4. So, the global variable a is modified, and its value becomes 4.
           
           The same behavior repeats when you call b() for the third time. It accesses the global variable a, which is now 4, and c(4) returns 6. The global variable a is modified to 6.
           
           The value displayed will be 6 because the global variable a has been modified by the function b() calls, and it now holds the value 6.

Question 2 : Function fileLength(), given to you, takes the name of a file as input and returnsthe length of the file:
>>> fileLength('midterm.py')284
>>> fileLength('idterm.py')Traceback (most recent call last):File "<pyshell#34>", line 1, in <module>fileLength('idterm.py')File "/Users/me/midterm.py", line 3, in fileLengthinfile = open(filename)FileNotFoundError: [Errno 2] No such file or directory:'idterm.py'
    As shown above, if the file cannot be found by the interpreter or if it cannot be readas a text file, an exception will be raised. Modify function fileLength() so that afriendly message is printed instead:
    
 >>> fileLength('midterm.py')358
    >>> fileLength('idterm.py')
    File idterm.py not found.

In [18]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            content = infile.read()
            length = len(content)
            print(length)
    except FileNotFoundError:
        print(f"File {filename} not found.")
    except PermissionError:
        print(f"Permission denied while reading {filename}.")
fileLength('midterm.py')
fileLength('idterm.py')

File midterm.py not found.
File idterm.py not found.

Question 3 : Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()['doll', 'firetruck', 'kitten']Now write a class named Kangaroo as a subclass of Marsupial that inherits all theattributes of Marsupial and also:a. extends the Marsupial __init__ constructor to take, as input, thecoordinates x and y of the Kangaroo object,b. supports method jump that takes number values dx and dy as input andmoves the kangaroo by dx units along the x-axis and by dy units along the y-axis, andc. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)I am a Kangaroo located at coordinates (3,0)

In [20]:
class Marsupial:
    def __init__(self):
        self.pouch = []
 
    def put_in_pouch(self, item):
        self.pouch.append(item)
 
    def pouch_contents(self):
        return self.pouch
 
 
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
 
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
 
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())
 
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
 
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4 : Write function collatz() that takes a positive integer x as input and prints theCollatz sequence starting at x. 
A Collatz sequence is obtained by repeatedly applyingthis rule to the previous number x in the sequence:
x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬Your function should stop when the sequence gets to number 1.
Yourimplementation must be recursive, without any loops 
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [50]:
def collatz(x):
    # Base case: If x is 1, print it and return.
    if x == 1:
        print(1)
    # Recursive case: If x is even, divide it by 2.
    elif x % 2 == 0:
        print(x)
        collatz(x // 2)
    # Recursive case: If x is odd, multiply it by 3 and add 1.
    else:
        print(x)
        collatz(3 * x + 1)
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

Question 5 : Write a recursive method binary() that takes a non-negativeinteger n and prints the binary representation of integer n.
>>> binary(0)0
>>> binary(1)1
>>> binary(3)11
>>> binary(9)1001

In [48]:
def binary(n):    
    if n == 0:
        print(0, end='')    
    else:
        binary(n // 2)
        print(n % 2, end='')


binary(0)
print()  
binary(1)
print()  
binary(3)
print()  
binary(9)

0
01
011
01001

Question 8 : Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records 
e) The city, country, and season for which the average rainfall is between 200and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.......

In [47]:
import sqlite3

conn = sqlite3.connect('abindran_.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE weather 
    (City TEXT, Country TEXT, Season TEXT, "Temperature(C)" FLOAT, "Rainfall(mm)" FLOAT)
''')

weather_data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('''
    INSERT INTO weather (City, Country, Season, "Temperature(C)", "Rainfall(mm)")
    VALUES (?, ?, ?, ?, ?)
''', weather_data)

#All the temperature data.
cursor.execute('SELECT "Temperature(C)" FROM weather')
temperature_data = cursor.fetchall()

#All the cities, but without repetition.
cursor.execute('SELECT DISTINCT City FROM weather')
unique_cities = cursor.fetchall()

#All the records for India.
cursor.execute('SELECT * FROM weather WHERE Country = "India"')
india_records = cursor.fetchall()

#All the Fall records.
cursor.execute('SELECT * FROM weather WHERE Season = "Fall"')
fall_records = cursor.fetchall()

#The city, country, and season for which the average rainfall is b/w 200 and 400 ml.
cursor.execute('''
    SELECT City, Country, Season
    FROM weather
    GROUP BY City, Country, Season
    HAVING AVG("Rainfall(mm)") BETWEEN 200 AND 400
''')
rainfall_between_200_400 = cursor.fetchall()

#The city and country for which the average Fall temp is above 20 degrees, in descending temp order.
cursor.execute('''
    SELECT City, Country
    FROM weather
    WHERE Season = "Fall"
    GROUP BY City, Country
    HAVING AVG("Temperature(C)") > 20
    ORDER BY AVG("Temperature(C)") DESC
''')
high_temp_cities_in_fall = cursor.fetchall()

#The total annual rainfall for Cairo.
cursor.execute('SELECT SUM("Rainfall(mm)") AS "Total Rainfall" FROM weather WHERE City = "Cairo"')
cairo_total_rainfall = cursor.fetchone()[0]

#The total rainfall for each season.
cursor.execute('SELECT Season, SUM("Rainfall(mm)") AS "Total Rainfall" FROM weather GROUP BY Season')
total_rainfall_by_season = cursor.fetchall()

# results
print("a) All Temperature Data:", temperature_data)
print("b) All Unique Cities:", unique_cities)
print("c) Records for India:", india_records)
print("d) Fall Records:", fall_records)
print("e) Average Rainfall between 200 and 400:", rainfall_between_200_400)
print("f) High-Temperature Cities in Fall:", high_temp_cities_in_fall)
print("g) Total Rainfall for Cairo:", cairo_total_rainfall)
print("h) Total Rainfall by Season:", total_rainfall_by_season)

conn.commit()
conn.close()

a) All Temperature Data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
b) All Unique Cities: [('Mumbai',), ('London',), ('Cairo',)]
c) Records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
d) Fall Records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
e) Average Rainfall between 200 and 400: [('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]
f) High-Temperature Cities in Fall: [('Mumbai', 'India'), ('Cairo', 'Egypt')]
g) Total Rainfall for Cairo: 27.6
h) Total Rainfall by Season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

Question 9 : Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the followinglists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in listwords).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of listwords, where each list contains the word in uppercase and lowercase and thelength of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or morecharacters.)

In [39]:
# this is the Given list
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


uppercase_words = [word.upper() for word in words]
print(uppercase_words)


lowercase_words = [word.lower() for word in words]
print(lowercase_words)


word_lengths = [len(word) for word in words]
print(word_lengths)


word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

long_words = [word for word in words if len(word) >= 4]
print(long_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']